.simple-my-profile {
    display:flex;
    flex-direction:row;
}
.simple-my-profile .profile-info {
    display:flex;
    flex-direction:column;
    height:100px;
    margin:auto 0;
    margin-left:20px;
}
.simple-my-profile .profile-image {
    width:70px;
    height:70px;
    border-radius:50%;
    margin:auto 0;
    cursor:pointer;
}
.simple-my-profile .name {
    font-size:1.2rem;
    font-weight:bold;
    margin:auto 0;
}
