div.form-input-password {
    position:relative;
}
input {
    width:100%;
    border:none;
    border-bottom:1px solid #121212;
    padding:10px 5px;
    box-sizing: border-box;
    height:40px;
    font-size:1.1rem;
}
input:focus {
    outline:none;
    border-bottom:1px solid #892CDC;
}
label {
    position:absolute;
    pointer-events:none;
    color:#cccccc;
    left:5px;
    top:10px;
    transition:0.2s;
}
input:focus ~ label,
input.active ~ label {
    top:-20px;
    font-size:14px;
    transition:0.2s;
    color:#892CDC;
}
img.show-password-icon {
    position:absolute;
    right:0;
    top:5px;
}