div.form-input-password {
    position:relative;
    margin-top:30px;
    --primiary-theme-color: #ffe812;
    --primiary-text-color: #423630;
}
input {
    width:100%;
    border:none;
    background-color:transparent;
    border-bottom:1px solid #121212;
    padding:10px 5px;
    box-sizing: border-box;
    height:40px;
    font-size:1.1rem;
}
input:focus {
    outline:none;
    border-bottom:1px solid var(--primiary-text-color);
}
label {
    position:absolute;
    pointer-events:none;
    color:#777777;
    left:5px;
    top:10px;
    transition:0.2s;
}
input:focus ~ label,
input.active ~ label {
    top:-20px;
    font-size:14px;
    transition:0.2s;
    color:var(--primiary-text-color);
}
img.show-password-icon {
    position:absolute;
    right:0;
    width:40px;
    height:40px;
}