
.addFriendButton{
    background-color: transparent;
    border:none;
    cursor: pointer;
    opacity: 0.5;
   
    &:hover{
        opacity:1;
        transition: 0.3s;
    }
}
.content{
    width:100%;
    position:absolute;
    top:10px;
    left:0;
    display:flex;
    // align-content: center;
    
}
.emailLength{
    position:absolute;
    top:10px;
    right:10%;
}
.addButton{
    display: flex;
    justify-content: center;
}
.activeButton{
    width:90%;
    --primiary-theme-color: #FFEB33;
    --primiary-text-color: #423630;
    --primiary-text-color-hover:#594941;
    border: 1px solid var(--primiary-text-color);
    background:var(--primiary-text-color);
    border-radius:8px;
    color:var(--primiary-theme-color);
    padding:8px;
    font-size:1.05rem;
    cursor:pointer;

    
    a {
        text-decoration: none;
    }
    &:hover {
        background:var(--primiary-text-color-hover);
        transition:0.3s;
    }
    &:focus {
        outline:none;
    }
}

.non-activeButton{
    width:90%;
    --primiary-theme-color: #FFEB33;
    --primiary-text-color: #423630;
    --primiary-text-color-hover:#594941;
    border: 1px solid var(--primiary-text-color);
    background:#999;
    border-radius:8px;
    color:var(--primiary-theme-color);
    padding:8px;
    font-size:1.05rem;
    cursor:pointer;

    // position:fixed;
    // top:80%;
    // left:50%;
    // transform:translateX(-50%);
    a {
        text-decoration: none;
    }
    &:focus {
        outline:none;
    }
}

