
.modal > section > header {
    position: relative;
    padding: 30px 64px 16px 30px;
    background-color:#fff;
    font-size:30px;
    font-weight: 700;
    
}
.modal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 30px;
    // font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
    &:hover{
        color:#000000;
        transition:0.3s;
      
    }
}
.modal > section > main {
    padding: 200px;
    // border-top: 1px solid black;
    // border-bottom: 1px solid black;
    
}
.profile{
    display: flex;
    justify-content: center;
}
.profileImageContainer{
    width:120px;
    height: 120px;
    display:flex;
    flex-direction: column;
    text-align: center;
    // justify-content: center;

}
.profileImageContainer div{
    text-align: center;
    margin:0 auto;
    flex : 1 1 auto;
    // width: 120px;
    // height: 120px;
    // border-radius: 20%;
    // position: fixed;
    // top: 45%;
    // left:50%;
    // transform: translateX(-50%);
}
// .profileImageContainer img{
// //    display: block;
//     // margin:0 auto;
// }

.profileImage{
    width: 120px;
    height: 120px;
    border-radius: 20%;
}


.buttonContainer{
    display: flex;
    justify-content: space-around;

}
.buttonContainer button{
    background: transparent;
    display: flex;
    flex-direction: column;
}

// .profile{
//     height:100%;
// }

