
.modal > section > header {
    position: relative;
    padding: 30px 64px 16px 30px;
    background-color:#fff;
    font-size:30px;
    font-weight: 700;
    
}
.modal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 30px;
    // font-weight: 700;
    text-align: center;
    color: #999;
    background-color: transparent;
    &:hover{
        color:#000000;
        transition:0.3s;
      
    }
}
.profile{
    display: flex;
    justify-content: center;
    position:relative;
    top:50%;
}
.profileImageContainer{
    width:120px;
    height: 120px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.profileImage{
    width: 120px;
    height: 120px;
    border-radius: 20%;

}


.buttonContainer{
    display: flex;
    justify-content: space-around;

}
.buttonContainer button{
    background: transparent;
    display: flex;
    flex-direction: column;
}

