main {
    padding:0 15px;
    flex-grow:1;
    position:relative;
    header {
        height:50px;
        display:flex;
        justify-content: space-between;
        padding:0 20px;
        margin-top:10px;
        span.title {
            font-weight:900;
            font-size:1.2rem;
            margin:auto 0;
        }
        span.menu {
            margin:auto 0;
        }
    }
}

.addFriendButton{
    background-color: transparent;
    border:none;
    cursor: pointer;
    opacity: 0.5;
   
    &:hover{
        opacity:1;
        transition: 0.3s;
    }
}