button {
    border: 1px solid #892CDC;
    background:transparent;
    border-radius:8px;
    padding:8px;
    font-size:1.05rem;
    cursor:pointer;
    transition:0.3s;
}
button:hover {
    background:#892CDC;
    color:white;
    transition:0.3s;
}
button:focus{
    outline:none;
}