:root {
  --primiary-theme-color: #FFEB33;
  --primiary-text-color: #423630;
  --aside-color:#dfdfdf;
  
}
* {
  box-sizing:border-box;
}
body #root {
  height:100vh;
  display:flex;
  flex-direction:row;
}
a.link {
  color:#423630;
}